# App Store Connect API key creds
ASC_KEY_ID=
ASC_ISSUER_ID=
ASC_KEY_PATH=./AuthKey_XXXXXXXXXX.p8

# Optional IDs used by Appfile
APPSTORE_CONNECT_APPLE_ID=
APPSTORE_CONNECT_TEAM_ID=
DEVELOPER_PORTAL_TEAM_ID=
